///
///  NFT SECTION
/// 

.nft-section {
    body {
        background: #FFF37A;
        background: linear-gradient(95deg, #FFF37A, #3C3C3C);
    }

    .wrapper {
        margin: 10vh
    }

    //post card styles

    .card {
        border: none;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        overflow: hidden;
        border-radius: 20px;
        min-height: 450px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

        @media (max-width: 768px) {
            min-height: 350px;
        }

        @media (max-width: 420px) {
            min-height: 300px;
        }

        &.card-has-bg {
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: center center;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: inherit;
                -webkit-filter: grayscale(1);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            &:hover {
                transform: scale(0.98);
                box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
                background-size: 130%;
                transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

                .card-img-overlay {
                    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                    background: rgb(35, 79, 109);
                    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgba(4, 69, 114, 1) 100%);
                }
            }
        }

        .card-footer {
            background: none;
            border-top: none;

            .media {
                img {
                    border: solid 3px rgba(255, 255, 255, 0.3);
                }
            }
        }

        .card-meta {
            color: #26BD75
        }

        .card-body {
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover {
            .card-body {
                margin-top: 30px;
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
            }

            cursor: pointer;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        .card-img-overlay {
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
            background: rgb(35, 79, 109);
            background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 1) 100%);
        }
    }

    @media (max-width: 767px) {}

}

.nft-section-2 {

    @import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

    $gr-1: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
    $gr-2: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
    $gr-3: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);

    .gr-1 {
        background: $gr-1;
    }

    .gr-2 {
        background: $gr-2;
    }

    .gr-3 {
        background: $gr-3;
    }

    * {
        transition: .5s;
    }

    .h-100 {
        height: 100% !important;
    }

    .align-middle {
        position: relative;
        top: 20%;
        /*transform: translateY(-50%);*/
    }

    .column {
        margin-top: 3rem;
        padding-left: 3rem;

        &:hover {
            padding-left: 0;

            .card .txt {
                margin-left: 1rem;

                h1,
                p {
                    color: rgba(255, 255, 255, 1);
                    opacity: 1;
                }
            }

            a {
                color: rgba(255, 255, 255, 1);

                &:after {
                    width: 10%;
                }
            }
        }
    }

    .card {
        min-height: 170px;
        margin: 0;
        padding: 1.7rem 1.2rem;
        border: none;
        border-radius: 0;
        color: rgba(0, 0, 0, 1);
        letter-spacing: .05rem;
        font-family: 'Oswald', sans-serif;
        box-shadow: 0 0 21px rgba(0, 0, 0, .27);

        .txt {
            margin-left: -3rem;
            z-index: 1;

            h1 {
                font-size: 1.5rem;
                font-weight: 300;
                text-transform: uppercase;
            }

            p {
                font-size: .7rem;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 0rem;
                margin-top: 33px;
                opacity: 0;
                color: rgba(255, 255, 255, 1);
            }
        }

        a {
            z-index: 3;
            font-size: .7rem;
            color: rgba(0, 0, 0, 1);
            margin-left: 1rem;
            position: relative;
            bottom: -.5rem;
            text-transform: uppercase;

            &:after {
                content: "";
                display: inline-block;
                height: 0.5em;
                width: 0;
                margin-right: -100%;
                margin-left: 10px;
                border-top: 1px solid rgba(255, 255, 255, 1);
                transition: .5s;
            }
        }

        .ico-card {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        i {
            position: relative;
            right: -50%;
            top: 60%;
            font-size: 12rem;
            line-height: 0;
            opacity: .2;
            color: rgba(255, 255, 255, 1);
            z-index: 0;
        }
    }


}

.nft-section-3 {
    h2 {
        color: #ffffff;
        padding-top: 15px;
    }

    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: rgb(22, 20, 24);
        color: #eee;
        user-select: none;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
    }

    .nft {
        user-select: none;
        max-width: 300px;
        margin: 5rem auto;
        border: 1px solid #ffffff22;
        background-color: #282c34;
        /*background: linear-gradient(0deg,
                rgba(40, 44, 52, 1) 0%,
                rgba(17, 0, 32, 0.5) 100%);*/
        background: linear-gradient(0deg, rgb(17 17 17) 0%, rgb(139 117 49) 100%);
        box-shadow: 0 7px 20px 5px #00000088;
        border-radius: 0.7rem;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        overflow: hidden;
        transition: 0.5s all;

        hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid #88888855;
            margin-top: 0;
        }

        ins {
            text-decoration: none;
        }

        .main {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;

            .tokenImage {
                border-radius: 0.5rem;
                max-width: 100%;
                height: 250px;
                object-fit: cover;
            }

            .description {
                margin: 0.5rem 0;
                color: #a89ec9;
            }

            .tokenInfo {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                    display: flex;
                    align-items: center;
                    color: #ee83e5;
                    font-weight: 700;

                    ins {
                        margin-left: -0.3rem;
                        margin-right: 0.5rem;
                    }
                }

                .duration {
                    display: flex;
                    align-items: center;
                    color: #a89ec9;
                    margin-right: 0.2rem;

                    ins {
                        margin: 0.5rem;
                        margin-bottom: 0.4rem;
                    }
                }
            }

            .creator {
                display: flex;
                align-items: center;
                margin-top: 0.2rem;
                margin-bottom: -0.3rem;

                ins {
                    color: #a89ec9;
                    text-decoration: none;
                }

                .wrapper {
                    display: flex;
                    align-items: center;
                    border: 1px solid #ffffff22;
                    padding: 0.3rem;
                    margin: 0;
                    margin-right: 0.5rem;
                    border-radius: 100%;
                    box-shadow: inset 0 0 0 4px #000000aa;

                    img {
                        border-radius: 100%;
                        border: 1px solid #ffffff22;
                        width: 2rem;
                        height: 2rem;
                        object-fit: cover;
                        margin: 0;
                    }
                }
            }
        }

        ::before {
            position: fixed;
            content: "";
            box-shadow: 0 0 100px 40px #ffffff08;
            top: -10%;
            left: -100%;
            transform: rotate(-45deg);
            height: 60rem;
            transition: 0.7s all;
        }

        &:hover {
            border: 1px solid #ffffff44;
            box-shadow: 0 7px 50px 10px #000000aa;
            transform: scale(1.015);
            filter: brightness(1.3);

            ::before {
                filter: brightness(0.5);
                top: -100%;
                left: 200%;
            }
        }
    }

    .bg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 20rem;
            filter: opacity(0.5);
        }
    }

    p {
        margin-bottom: 0;
    }

}